<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        快速連結
      </h4>
    </div>
    <div class="panel-body">
      <ul>              
        <li><%= link_to 'Restaurant', admin_restaurants_path %></li>
        <li><%= link_to 'Categories', admin_categories_path %></li>
      </ul>
    </div>
  </div>
</div>