<div class="panel-group">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        功能管理
      </h4>
    </div>
    <div class="panel-body">
      <ul>              
        <li><%= link_to 'Restaurant', admin_restaurants_path %></li>
        <li><%= link_to 'Categories', admin_categories_path %></li>
      </ul>    
    </div>
  </div>
</div>


<div class="panel-group">
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        好站推薦
      </h4>
    </div>
    <div class="panel-body">
      <ul>              
        <li><a href="https://fast-plains-25699.herokuapp.com/">小可愛的餐廳</a></li>
        <li><a href="https://restaurant-forum-by-yipee.herokuapp.com/">好好吃餐廳</a></li>
        <li><a href="https://restaurant-forum-ac.herokuapp.com/">豪大間餐廳</a></li>
      </ul>
      <p>帳號：root@example.com </p>
      <p>密碼：12345678</p>
    </div>
  </div>
</div>