/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'style';

body {
  /* background-image: url("pink_heart.jpeg") */
  background-color: #ffbf80;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.table > tbody > tr > th {
     vertical-align: middle;
}

.avatar {
  width: 300px;
  height: 300px;
}

.my-restaurant {
  display: inline-block; 
  text-align: center;
}

.my-restaurant img{
  width: 100px;
}

.tab-content{
    background-color:#ffbf80;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  background-color: #ffbf80 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}
.nav-tabs > li > a:hover{
  background-color: #ffd480 !important;
  border: medium none;
  border-radius: 0;
  color:#fff;
}